@import '~bootstrap/scss/bootstrap';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
ul{
  list-style: none;
}

img {
    max-width: 100%;
}
#admin{
    height: 100vh;
    display:flex;

    #wrapper{
      flex-grow: 1;
    }
    #sidebarMenu {
      background-color: black;
      color: white;
    }
  }
.table-responsive{
  max-height: 750px;
}
// .table-fixed{
//   width: 100%;
//   background-color: #f3f3f3;
//   tbody{
//     height:200px;
//     overflow-y:auto;
//     width: 100%;
//     }
//   thead,tbody,tr,td,th{
//     display:block;
//   }
//   tbody{
//     td{
//       float:left;
//     }
//   }
//   thead {
//     tr{
//       th{
//         float:left;
//        background-color: #f39c12;
//        border-color:#e67e22;
//       }
//     }
//   }
// }
